{% if projects %}
<div id="projects">
{% for project in projects %}
<div class="project">
    <div class="side">
        {%if project.image %}
        <img width="180" class="image" src="{{ project.image }}" />
        {% endif %}
        {%if project.github %}
        <iframe src="http://ghbtns.com/github-btn.html?user=fkling&repo={{ project.github }}&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="20px"> </iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=fkling&repo={{ project.github }}&type=fork&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="20px"> </iframe>
        {% endif %}
    </div>
    <div class="description">
    <h3>{{ project.title }}</h3>
    {{ project.content }}
    {% if project.source or project.link or project.categories %}
    <dl class="metadata">
        {% if project.link %}
            <dt>Website:</dt>
            <dd><a href="{{ project.link }}">{{ project.link }}</a></dd>
            {% endif %}
            {% if project.source %}
            <dt>Source:</dt>
            <dd><a href="{{ project.source }}">{{ project.source }}</a></dd>
            {% endif %}
            {% if project.categories %}
            <dt>Technology:</dt>
            <dd>{{ project.categories | join:', ' }}</dd>
            {% endif %}
    </dl>
{% endif %}
</div>
</div>
{% endfor %}
</div>
{% endif %}
