<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %} {{ page.title }} - {%endif%}{% if page.heading %} {{ page.heading }} - {%endif%}Felix
  Kling</title>
<link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/sunburst.css" rel="stylesheet" type="text/css" />
<script src="/assets/js/prettify.js"></script>
<script>
  window.onload = function() {
    var a = false;
    var codes = document.getElementsByTagName('code');
    for ( var i = codes.length; i--;) {
      codes[i].parentNode.classList.add('prettyprint');
      a = true;
    }
    if (a) {
      prettyPrint()
    }
  }
</script>
</head>
<body>
  <div id="main">
    <header id="header">
      <h1>{
        {% if page.heading %} {{ page.heading }} - {%endif%} <a href="/"
          title="return to home">Felix Kling</a>
      }</h1>
        {% assign menu = site.menu.main %}
        {% include menu.html %}
    </header>
    <div id="content">
    {{ content }}
          <div id="footer">
        &copy; 2011-2012 by Felix Kling <br />
        This web site uses the Open Source web analytics 
        software <a href="http://piwik.org/">Piwik</a>. 
        You can <a href="/piwik_opt_out.html"><strong>opt out</strong></a> from this.
        </div>
    </div>

  </div>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
     var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.reblaus-kleinkunst.de/";
     _paq.push(["setTrackerUrl", u+"piwik.php"]);
     _paq.push(["setSiteId", "2"]);
     var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
     g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
     })();
</script>
<!-- Piwik Image Tracker -->
<img src="http://piwik.reblaus-kleinkunst.de/piwik.php?idsite=2&amp;rec=1" style="border:0" alt="" />
<!-- End Piwik -->
<!-- End Piwik Code -->
</body>
</html>
